# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Generated RAG files
index.faiss
metadata.npy

# Logs
*.log

# Python packaging
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Uploaded PDFs (optional)
# Uncomment if you don't want uploaded PDFs in Git
# rag.pdf

# Model files
*.gguf
*.bin
*.safetensors

*.pdf
